.users--container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px
}
.students{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    margin-bottom: 20px;
}
.current--cohort-container{
    width: 40%;
    background: rgba(61,97,112,.97);
    margin-bottom: 26px;
    border-radius: 0px 100px 100px 0px;
    color: white;
}
.current--cohort-text{
    margin-left: -70px;
    text-decoration: underline;
}